#algo{
    background-image: url("https://images.squarespace-cdn.com/content/v1/58eeae76ff7c50fa313c951e/1556500310175-0K3355CIWU24ZLZYB3NL/04292019_mapas-field+guide+to+merida+02+torta+de+lechon.jpg?format=1000w");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

#cachete{
    border-width: 10px;
    background-color: lightpink;
    border-style: groove;
   }